@font-face {
  font-family: "et-line";
  src: url("../fonts/et-line/et-line.ttf");
  src: url("../fonts/et-line/et-line.eot") format("embedded-opentype"),
    url("../fonts/et-line/et-line.woff") format("woff"),
    url("../fonts/et-line/et-line.ttf") format("truetype"),
    url("../fonts/et-line/et-line.svg") format("svg");
}

[class*=" et-"] {
  font-family: et-line;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.et-adjustments,
.et-alarmclock,
.et-anchor,
.et-aperture,
.et-attachment,
.et-bargraph,
.et-basket,
.et-beaker,
.et-bike,
.et-book-open,
.et-briefcase,
.et-browser,
.et-calendar,
.et-camera,
.et-caution,
.et-chat,
.et-circle-compass,
.et-clipboard,
.et-clock,
.et-cloud,
.et-compass,
.et-desktop,
.et-dial,
.et-document,
.et-documents,
.et-download,
.et-dribbble,
.et-edit,
.et-envelope,
.et-expand,
.et-facebook,
.et-flag,
.et-focus,
.et-gears,
.et-genius,
.et-gift,
.et-global,
.et-globe,
.et-googleplus,
.et-grid,
.et-happy,
.et-hazardous,
.et-heart,
.et-hotairballoon,
.et-hourglass,
.et-key,
.et-laptop,
.et-layers,
.et-lifesaver,
.et-lightbulb,
.et-linegraph,
.et-linkedin,
.et-lock,
.et-magnifying-glass,
.et-map,
.et-map-pin,
.et-megaphone,
.et-mic,
.et-mobile,
.et-newspaper,
.et-notebook,
.et-paintbrush,
.et-paperclip,
.et-pencil,
.et-phone,
.et-picture,
.et-pictures,
.et-piechart,
.et-presentation,
.et-pricetags,
.et-printer,
.et-profile-female,
.et-profile-male,
.et-puzzle,
.et-quote,
.et-recycle,
.et-refresh,
.et-ribbon,
.et-rss,
.et-sad,
.et-scissors,
.et-scope,
.et-search,
.et-shield,
.et-speedometer,
.et-strategy,
.et-streetsign,
.et-tablet,
.et-target,
.et-telescope,
.et-toolbox,
.et-tools,
.et-tools-2,
.et-trophy,
.et-tumblr,
.et-twitter,
.et-upload,
.et-video,
.et-wallet,
.et-wine {
  font-family: et-line;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}
.et-mobile:before {
  content: "\e000";
}
.et-laptop:before {
  content: "\e001";
}
.et-desktop:before {
  content: "\e002";
}
.et-tablet:before {
  content: "\e003";
}
.et-phone:before {
  content: "\e004";
}
.et-document:before {
  content: "\e005";
}
.et-documents:before {
  content: "\e006";
}
.et-search:before {
  content: "\e007";
}
.et-clipboard:before {
  content: "\e008";
}
.et-newspaper:before {
  content: "\e009";
}
.et-notebook:before {
  content: "\e00a";
}
.et-book-open:before {
  content: "\e00b";
}
.et-browser:before {
  content: "\e00c";
}
.et-calendar:before {
  content: "\e00d";
}
.et-presentation:before {
  content: "\e00e";
}
.et-picture:before {
  content: "\e00f";
}
.et-pictures:before {
  content: "\e010";
}
.et-video:before {
  content: "\e011";
}
.et-camera:before {
  content: "\e012";
}
.et-printer:before {
  content: "\e013";
}
.et-toolbox:before {
  content: "\e014";
}
.et-briefcase:before {
  content: "\e015";
}
.et-wallet:before {
  content: "\e016";
}
.et-gift:before {
  content: "\e017";
}
.et-bargraph:before {
  content: "\e018";
}
.et-grid:before {
  content: "\e019";
}
.et-expand:before {
  content: "\e01a";
}
.et-focus:before {
  content: "\e01b";
}
.et-edit:before {
  content: "\e01c";
}
.et-adjustments:before {
  content: "\e01d";
}
.et-ribbon:before {
  content: "\e01e";
}
.et-hourglass:before {
  content: "\e01f";
}
.et-lock:before {
  content: "\e020";
}
.et-megaphone:before {
  content: "\e021";
}
.et-shield:before {
  content: "\e022";
}
.et-trophy:before {
  content: "\e023";
}
.et-flag:before {
  content: "\e024";
}
.et-map:before {
  content: "\e025";
}
.et-puzzle:before {
  content: "\e026";
}
.et-basket:before {
  content: "\e027";
}
.et-envelope:before {
  content: "\e028";
}
.et-streetsign:before {
  content: "\e029";
}
.et-telescope:before {
  content: "\e02a";
}
.et-gears:before {
  content: "\e02b";
}
.et-key:before {
  content: "\e02c";
}
.et-paperclip:before {
  content: "\e02d";
}
.et-attachment:before {
  content: "\e02e";
}
.et-pricetags:before {
  content: "\e02f";
}
.et-lightbulb:before {
  content: "\e030";
}
.et-layers:before {
  content: "\e031";
}
.et-pencil:before {
  content: "\e032";
}
.et-tools:before {
  content: "\e033";
}
.et-tools-2:before {
  content: "\e034";
}
.et-scissors:before {
  content: "\e035";
}
.et-paintbrush:before {
  content: "\e036";
}
.et-magnifying-glass:before {
  content: "\e037";
}
.et-circle-compass:before {
  content: "\e038";
}
.et-linegraph:before {
  content: "\e039";
}
.et-mic:before {
  content: "\e03a";
}
.et-strategy:before {
  content: "\e03b";
}
.et-beaker:before {
  content: "\e03c";
}
.et-caution:before {
  content: "\e03d";
}
.et-recycle:before {
  content: "\e03e";
}
.et-anchor:before {
  content: "\e03f";
}
.et-profile-male:before {
  content: "\e040";
}
.et-profile-female:before {
  content: "\e041";
}
.et-bike:before {
  content: "\e042";
}
.et-wine:before {
  content: "\e043";
}
.et-hotairballoon:before {
  content: "\e044";
}
.et-globe:before {
  content: "\e045";
}
.et-genius:before {
  content: "\e046";
}
.et-map-pin:before {
  content: "\e047";
}
.et-dial:before {
  content: "\e048";
}
.et-chat:before {
  content: "\e049";
}
.et-heart:before {
  content: "\e04a";
}
.et-cloud:before {
  content: "\e04b";
}
.et-upload:before {
  content: "\e04c";
}
.et-download:before {
  content: "\e04d";
}
.et-target:before {
  content: "\e04e";
}
.et-hazardous:before {
  content: "\e04f";
}
.et-piechart:before {
  content: "\e050";
}
.et-speedometer:before {
  content: "\e051";
}
.et-global:before {
  content: "\e052";
}
.et-compass:before {
  content: "\e053";
}
.et-lifesaver:before {
  content: "\e054";
}
.et-clock:before {
  content: "\e055";
}
.et-aperture:before {
  content: "\e056";
}
.et-quote:before {
  content: "\e057";
}
.et-scope:before {
  content: "\e058";
}
.et-alarmclock:before {
  content: "\e059";
}
.et-refresh:before {
  content: "\e05a";
}
.et-happy:before {
  content: "\e05b";
}
.et-sad:before {
  content: "\e05c";
}
.et-facebook:before {
  content: "\e05d";
}
.et-twitter:before {
  content: "\e05e";
}
.et-googleplus:before {
  content: "\e05f";
}
.et-rss:before {
  content: "\e060";
}
.et-tumblr:before {
  content: "\e061";
}
.et-linkedin:before {
  content: "\e062";
}
.et-dribbble:before {
  content: "\e063";
}
