[class*=" ico-size"],
[class*=" ico-wrapper"],
i.ico-transparent,
i.ico-bordered,
i.ico-rounded,
i.ico-color,
i.ico-light,
i.ico-dark {
  color: #444;
  background-color: transparent;
  text-align: center;
  margin-bottom: 5px;
  margin: 4px 8px 7px 0;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  display: inline-flex;
  justify-content: center;

  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

i.ico-rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

i.ico-transparent {
  border: transparent;
}

i.ico-light {
  border: transparent;
  background-color: rgba(0, 0, 0, 0.05);
}
i.ico-dark {
  color: #fff;
  border: transparent;
  background-color: #333;
}
i.ico-color {
  color: #fff;
  border: transparent;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
}

i.hover:hover,
i.ico-light.hover:hover {
  color: #fff;
  background-color: #4a4b4a;
}

i.ico-transparent.hover:hover {
  background-color: unset;
  color: #c2c2c2;
}

i.ico-dark.hover:hover {
  color: #4a4b4a;
  background-color: #e8e8e8;
}

[class*=" ico-size"]:before,
[class*=" ico-wrapper"]:before {
  display: flex;
  align-items: center;
  justify-content: center;
}

i.ico-size-xxs {
  font-size: 1em;
}

i.ico-size-xs {
  font-size: 1.5em;
}

i.ico-size-sm {
  font-size: 2em;
}

i.ico-size-md {
  font-size: 2.5em;
}

i.ico-size-lg {
  font-size: 3em;
}

i.ico-size-xlg {
  font-size: 3.5em;
}

i.ico-size-xxlg {
  font-size: 4em;
}

i.ico-wrapper-xxs {
  width: 1.3em;
  height: 1.3em;
}

i.ico-wrapper-xs {
  width: 1.8em;
  height: 1.8em;
}

i.ico-wrapper-sm {
  width: 2.3em;
  height: 2.3em;
}

i.ico-wrapper-md {
  width: 3.8em;
  height: 2.8em;
}

i.ico-wrapper-lg {
  width: 3.3em;
  height: 3.3em;
}

i.ico-wrapper-xlg {
  width: 3.8em;
  height: 3.8em;
}

i.ico-wrapper-xlg {
  width: 4.3em;
  height: 4.3em;
}
