<script>
import IconBase from "./IconBase.vue";
import { fontAwesomeIcons } from "./validators/fontAwesomeIcons";

export default {
  extends: IconBase,
  name: "IconFontAwesome",
  props: {
    iconType: {
      default: "regular",
      validator: function(value) {
        return ["regular", "solid", "brands", "classic"].indexOf(value) !== -1;
      },
    },
    icon: {
      default: "",
      validator: function(value) {
        return fontAwesomeIcons.indexOf(value) !== -1;
      },
    },
  },
  computed: {
    _icon() {
      return {
        classic: `fa ${this.icon}`,
        regular: `far ${this.icon}`,
        solid: `fas ${this.icon}`,
        brands: `fab ${this.icon}`,
      }[this.iconType];
    },
  },
};
</script>

<style scoped>
@import "./assets/css/font-awesome.css";
</style>
