<script>
import IconBase from "./IconBase.vue";
import { glyphiconsIcons } from "./validators/glyphiconsIcons";

export default {
  extends: IconBase,
  name: "IconGlyphicons",
  props: {
    icon: {
      default: "",
      validator: function(value) {
        return glyphiconsIcons.indexOf(value) !== -1;
      },
    },
  },
  computed: {
    _icon() {
      return `glyphicon ${this.icon}`;
    },
  },
};
</script>

<style scoped>
@import "./assets/css/glyphicons.css";
</style>
