<script>
import IconBase from "./IconBase.vue";
import { icoFontIcons } from "./validators/icoFontIcons";

export default {
  extends: IconBase,
  name: "IconIcoFont",
  props: {
    icon: {
      default: "",
      validator: function(value) {
        return icoFontIcons.indexOf(value) !== -1;
      },
    },
  },
};
</script>

<style scoped>
@import "./assets/css/icofont.css";
</style>
