<script>
import IconBase from "./IconBase.vue";
import { fontIconIcons } from "./validators/fontIconIcons";

export default {
  extends: IconBase,
  name: "IconFontIcons",
  props: {
    icon: {
      default: "",
      validator: function(value) {
        return fontIconIcons.indexOf(value) !== -1;
      },
    },
  },
};
</script>

<style scoped>
@import "./assets/css/font-icons.css";
</style>
