<script>
import IconBase from "./IconBase.vue";
import { etLineIcons } from "./validators/etLineIcons";

export default {
  extends: IconBase,
  name: "IconEtLine",
  props: {
    icon: {
      default: "",
      validator: function(value) {
        return etLineIcons.indexOf(value) !== -1;
      },
    },
  },
};
</script>

<style scoped>
@import "./assets/css/font-etline.css";
</style>
