<template>
  <i :class="[_iconClass, _mountIcon]" :style="_mainStyle"></i>
</template>

<script>
export default {
  name: "Icon",
  props: {
    icon: String,
    iconColor: String,
    backgroundColor: String,
    borderColor: {
      type: String,
      default: "#555",
    },
    border: {
      default: "",
      validator: function(value) {
        return ["", "xs", "sm", "md", "lg", "xlg"].indexOf(value) !== -1;
      },
    },
    corner: {
      default: "",
      validator: function(value) {
        return ["", "rounded", "bordered"].indexOf(value) !== -1;
      },
    },
    color: {
      default: "",
      validator: function(value) {
        return (
          ["", "light", "dark", "transparent", "custom"].indexOf(value) !== -1
        );
      },
    },
    iconSize: {
      default: "sm",
      validator: function(value) {
        return (
          ["xxs", "xs", "sm", "md", "lg", "xlg", "xxlg"].indexOf(value) !== -1
        );
      },
    },
    containerSize: {
      default: "sm",
      validator: function(value) {
        return (
          ["xxs", "xs", "sm", "md", "lg", "xlg", "xxlg"].indexOf(value) !== -1
        );
      },
    },
    hover: Boolean,
  },
  computed: {
    _iconClass() {
      const classe = {
        "ico-bordered": this.corner == "bordered",
        "ico-rounded": this.corner == "rounded",
        hover: this.hover,
      };
      classe[`ico-${this.color}`] = this.color !== "";
      classe[`ico-size-${this.iconSize}`] = true;
      classe[`ico-wrapper-${this.containerSize}`] = true;
      return classe;
    },
    _mountIcon() {
      return this._icon || this.icon;
    },
    _mainStyle() {
      const classe = {};
      if (this.iconColor) classe["color"] = this.iconColor;
      if (this.backgroundColor)
        classe["background-color"] = this.backgroundColor;

      if (this.border !== "") {
        classe["border"] = {
          xs: `1px solid ${this.borderColor}`,
          sm: `2px solid ${this.borderColor}`,
          md: `3px solid ${this.borderColor}`,
          lg: `5px solid ${this.borderColor}`,
          xlg: `7px solid ${this.borderColor}`,
        }[this.border];
      }

      return classe;
    },
  },
};
</script>

<style scoped>
@import "./assets/css/icons_style.css";
</style>
